
main {

    margin: 0 auto;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #4f4f4f;

}

.backS:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.backS {

    background-color: white;

}

.container-fluid {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
}

img {
    max-width: border-box;
    position: center;
}
.navbar-expand-lg{
    background-color: #261685;
    font-family: 'Lobster', cursive;
    font-size: large;

}

.container-main {
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}

.titlecaption {
    color: whitesmoke;
    text-align: center;
}

.nav-item {
    list-style-type: none;
}

.target {
    width: 750px;
    height: 500px;
}