
main {

    margin: 0 auto;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px #4f4f4f;

}

.container-fluid.main {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
}

img {
    max-width: border-box;
    position: center;
}
.container-main {
    margin: auto;
    padding: 0;
    border-radius: 10px;
    text-align: center;
}

#title{
    text-align: center;
    color: whitesmoke;

}
#pokedex-tpl{
    text-align: center;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}
.search{
    text-align: center;
}
#goSearch{
    height: 38px;
    background-color: #bea40a;
    margin-top: 120px;

}
#search{
    width: 180px;
    margin-top: 120px;
    margin-left: 200px;
}

.image {
    width: 750px;
    height: 500px;
}
.name{
    height: 38px;
}
#title{
    text-align: center;
}
#pokemon-img{
    margin-left: 24%;
    margin-top: 8%;
    max-width: 96px;
    max-height: 96px;
}
#generation{
    margin-left: 18%;
    margin-top: 3%;
    height: 38px;
    background-color: #bea40a;
}
#evolution{
    margin-left: 54%;
    margin-top: 14%;
    height: 38px;
}
.row.data{
    margin-left: 6%;
}
#name{
    text-align: center;
    margin-top: 12%;

}